html body {
  background-color: #FBF2E6;
 }

.container {
  background-color: #F3EBDE;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 1% 1% 1% 1%;
  border-radius: 25px;
}


.twittler {
  font-family: 'Amatic SC', cursive;
  font-size: 4.5em;
  margin-bottom: 20px;
  text-align: center;


}

.madeByWilson {
  font-family: 'Amatic SC', cursive;
  font-size: 3em;
  margin-bottom: 20px;
  text-align: center;

}

 button.userName {
  background:none;
  border:none;
  font-family: 'Raleway', sans-serif;
  color: #1DA1F2;
  font-size: 2em;
  margin-top: 10px;
  margin-bottom: 10px;
}

button.userName:hover {
  font-style: italic;
}

.tweet {
  font-family: 'Roboto', sans-serif;
  background-color: #FCBD7A;

  border-radius: 25px;
  padding: 12px;
  margin-top: 8px;
  white-space: pre-wrap;
  box-shadow: -4px 3px 5px grey;
}

.tweet:hover {
  background-color: #FD945D;
}


.userPopUp h3 {
  font-family: 'Raleway', sans-serif;
  /*color: yellow;*/
  /*text-align: center;*/
  color: #1DA1F2;
}

.userPopUp {
  background-color: #F3EBDE;
  /*border: 5px solid purple;*/
  padding: 40px;


}



