html body {
  background-color: #FBF2E6;
 }

.container {
  background-color: #F3EBDE;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 1% 1% 1% 1%;
  border-radius: 25px;
}

.sprite {
  padding-top: 10px;
}


.twittler {
  font-family: 'Amatic SC', cursive;
  font-size: 8em;
  text-align: center;
}

.madeByWilson {
  font-family: 'Amatic SC', cursive;
  font-size: 2.5em;
  margin-bottom: 20px;
  text-align: center;
  height: 150px;
  padding-top: 33px;
}

button.userName {
  background:none;
  border:none;
  font-family: 'Raleway', sans-serif;
  color: #1DA1F2;
  font-size: 2em;
  margin-top: 10px;
  margin-bottom: 10px;
}

button.userName:hover {
  font-style: italic;
}

.tweet {
  /*font-family: 'Roboto', sans-serif;*/
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.15em;
  background-color: #FCBD7A;
  border-radius: 25px;
  padding: 12px;
  margin-top: 8px;
  white-space: pre-wrap;
  box-shadow: -4px 3px 5px grey;
}

.tweet:hover {
  background-color: #FD945D;
}

.userPopUp h3 {
  font-family: 'Raleway', sans-serif;
  color: #1DA1F2;
}

.userPopUp {
  background-color: #F3EBDE;
  /*border: 5px solid purple;*/
  padding: 40px;
}

#bird {
   width: 150px;
   height: 150px;
   background: transparent url('twitter-bird-sprite.png') 0px 0px no-repeat;
}







.madeByWilson a:link, a:visited, a:link, a{
    text-decoration: none;
    color: black;
}

.madeByWilson a:hover {
    text-decoration: none;
    color: #1DA1F2;
}

